<div class="body" style="margin-top: 51px">
  <div class="container">
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-3">
        <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        <table class="table">
          <tbody>
            <tr>
              <th>name</th>
              <th>
                <%= @user.name %>
              </th>
            </tr>
            <tr>
              <th>introduction</th>
              <th>
                <%= @user.introduction %>
              </th>
            </tr>
          </tbody>
        </table>
        <div class="row">
        <% if  @user.id == current_user.id %>
          <%= link_to "", edit_user_path(@user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
        <% else %>
          <%= link_to "", user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
        <% end %>
        </div>

        <%= render 'users/new', post_book: @post_book %>

      </div>
      <div class="col-xs-9">
        <h2>Book detail</h2>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <%= link_to user_path(@book.user.id) do %>
                    <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
                    <br>
                    <%= @book.user.name %>
                  <% end %>
                </td>
                <td><%= link_to @book.title, book_path(@book.id) %></td>
               <td><%= @book.body %></td>
               <td><%= attachment_image_tag @book, :book_image, :fill, 100, 100, format: 'jpeg', class: "book-image-cover" %></td>
               <% if @book.user_id == current_user.id %>
                 <td><%= link_to "Edit", edit_book_path(@book), class: "btn-sm btn-success" %></td>
                 <td><%= link_to "Destroy", book_path(@book), class: "btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
               <% end %>
              </tr>
            </tbody>
          </table>
          <% if @book.favorited_by?(current_user) %>
            <li>
              <%= link_to book_favorite_path(@book), method: :delete do %>
                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= @book.favorites.count %> いいね
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to book_favorites_path(@book), method: :post do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <%= @book.favorites.count %> いいね
              <% end %>
            </li>
          <% end %>
          <hr>
          <div class="row" style="margin: 5px">
          <h5>コメント入力欄</h5>
          <%= form_with(model:[@book, @post_comment], local: true) do |f| %>
            <%= f.text_area :comment, class: "form-control",placeholder: "Comment Here" %>
            <%= f.submit "Send", class: "btn btn-md btn-base-1 mt-20 pull-right" %>
          <% end %>
          </div>
          <ol style="margin: 5px">
            <% @book.post_comments.each do |post_comment| %>
              <div id="contents" class="style-scope ytd-item-section-renderer">
                <ytd-comment-thread-renderer class="style-scope ytd-item-section-renderer">
                  <ytd-comment-renderer id="comment" class="style-scope ytd-comment-thread-renderer" comment-style="unknown">
                    <div id="body" class="style-scope ytd-comment-renderer">
                      <div id="author-thumbnail" class="style-scope ytd-comment-renderer">
                        <%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
                      </div>
                      <div id="main" class="style-scope ytd-comment-renderer">
                        <div id="header" class="style-scope ytd-comment-renderer">
                        <div id="header-author" class="style-scope ytd-comment-renderer">
                          <%= post_comment.user.name %>
                        </div>
                        <span class="comment-date">
                          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                        </span>
                        <div id="content" class="style-scope ytd-expander" style="margin: 10px">
                          <%= post_comment.comment %>
                        </div>
                        </div>
                      </div>
                      <div>
                  <%= link_to "削除", book_post_comment_path(post_comment.book, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
                </div>
                    </div>
                  </ytd-comment-renderer>
                </ytd-comment-thread-renderer>

              </div>
              <% end %>
              </ol>

        </div>

      </div>
    </div>
  </div>
</div>
